<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:apollo="http://www.ctrip.com/schema/apollo"
       xmlns:ada-context="http://www.ada.com/schema/ada-context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.ctrip.com/schema/apollo http://www.ctrip.com/schema/apollo.xsd
       http://www.ada.com/schema/ada-context http://www.ada.com/schema/ada-context-1.0.0.xsd
       http://www.springframework.org/schema/beans ">

    <!--<context:component-scan base-package="com.adachina.cfgcenter"></context:component-scan>-->

    <!--<apollo:config order="10"/>-->
    <!--<apollo:config namespaces="TEST1.apollo,application.yaml" order="11"/>-->
    <!--<apollo:config namespaces="test-namespace"/>-->
    <ada-context:config files=""/>

    <!--<bean id="genericConfig" class="com.adachina.cfgcenter.config.BaseGenericConfig"/>-->

    <context:annotation-config/>

    <!--<context:property-placeholder location="apollo-env.properties"/>-->
</beans>
